.row {
  height: 450px;
  .col-md-12 {
    .name {
      margin: 0px;
      height: 125px;
      font-family: MyriadProSemiCondensed;
      color: black;
      font-size: 70px;
      letter-spacing: -4px;
      line-height: 156px;
    }
    .header {
      margin: 0px;
      height: 325px;
      background-color: #F7F410;
      box-shadow: rgba(0, 0, 0, 0.2) 0 5px 18px 0;
      .designer {
        margin: 0px;
        height: 50px;
        font-family: MyriadProSemiCondensed;
        color: black;
        font-size: 28px;
        line-height: 52px;
      }
      .header-grey {
        height: 250px;
        background-color: #ACACAC;
        margin: 0px;
        .skills {
          background-image: url(../../assets/img/skills.jpg);
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          .skill-item {
            width: 117px;
            height: 220px;
            margin: 20px auto;
            .top-tooltip {
              height: 33px;
              background-color: #FFFEC2;
              visibility: hidden;
            }
            .bottom-tooltip {
              height: 70px;
              background-color: #FFFEC2;
              visibility: hidden;
            }
            .show-tooltip {
              visibility: visible;
            }
            #ps {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-image: url(../../assets/img/ps.png);
              background-size: 64%;
              background-position-x: 30px;
              background-position-y: 20px;
              background-repeat: no-repeat;
            }
            #ai {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-size: cover;
              background-image: url(../../assets/img/ai.png);
              background-size: 51%;
              background-position-x: 38px;
              background-position-y: 25px;
              background-repeat: no-repeat;
            }
            #id {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-size: cover;
              background-image: url(../../assets/img/id.png);
              background-size: 64%;
              background-position-x: 30px;
              background-position-y: 20px;
              background-repeat: no-repeat;
            }
            #cd {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-size: cover;
              background-image: url(../../assets/img/cd.png);
              background-size: 64%;
              background-position-x: 30px;
              background-position-y: 20px;
              background-repeat: no-repeat;
            }
            #dr {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-size: cover;
              background-image: url(../../assets/img/dr.png);
              background-size: 64%;
              background-position-x: 30px;
              background-position-y: 20px;
              background-repeat: no-repeat;
            }
            #ds {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-size: cover;
              background-image: url(../../assets/img/ds.png);
              background-size: 64%;
              background-position-x: 30px;
              background-position-y: 20px;
              background-repeat: no-repeat;
            }
            #ar {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-size: cover;
              background-image: url(../../assets/img/ac.png);
              background-size: 64%;
              background-position-x: 30px;
              background-position-y: 20px;
              background-repeat: no-repeat;
            }
            #hz {
              background-color: #D0D0D0;
              width: 117px;
              height: 117px;
              background-size: cover;
              // background-image: url(../../assets/img/ai.png);  
              background-size: 64%;
              background-position-x: 30px;
              background-position-y: 20px;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}
