<div class="row">
  <div class="col-md-12">
    <p class="text-center name">SHTUCHKA LENA</p>
    <div class="header">
      <p class="text-center designer">DESIGNER</p>
      <div class="header-grey">
        <div class="skills">
          <div class="skill-item">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ps' }">1</div>
            <div id="ps" (mouseover)='showTooltip("ps")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ps' }">3</div>
          </div>
          <div class="skill-item" [ngClass]="{ 'show-tooltip': show }">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ai' }">1</div>
            <div id="ai" (mouseover)='showTooltip("ai")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ai' }">3</div>
          </div>
          <div class="skill-item">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'id' }">1</div>
            <div id="id" (mouseover)='showTooltip("id")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'id' }">3</div>
          </div>
          <div class="skill-item">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'cd' }">1</div>
            <div id="cd" (mouseover)='showTooltip("cd")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'cd' }">3</div>
          </div>
          <div class="skill-item">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'dr' }">1</div>
            <div id="dr" (mouseover)='showTooltip("dr")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'dr' }">3</div>
          </div>
          <div class="skill-item">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ds' }">1</div>
            <div id="ds" (mouseover)='showTooltip("ds")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ds' }">3</div>
          </div>
          <div class="skill-item">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ar' }">1</div>
            <div id="ar" (mouseover)='showTooltip("ar")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'ar' }">3</div>
          </div>
          <div class="skill-item">
            <div class="top-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'hz' }">1</div>
            <div id="hz" (mouseover)='showTooltip("hz")' (mouseleave)='showTooltip()'></div>
            <div class="bottom-tooltip" [ngClass]="{ 'show-tooltip':tooltip == 'hz' }">3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
