.gray-line {
  background-color: #E7E7E7;
  height: 5px;
}

.contacts {
  color: black;
  img {
    height: 20px;
    width: 20px;
    float: left;
  }
  h4 {
    float: left;
    width: 230px;
    margin-top: 0px;
    margin-left: 10px;
  }
}

.download {
    color: black;
    cursor: pointer;
}

