<div class="row">
  <div class="col-md-12 gray-line">
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>Contacts</h3>
  </div>
  <div class="col-md-4">
    <a class="download" href="assets/portfolio.pdf">
      <h3>Download portfolio</h3>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="contacts">
      <img src="assets/img/email.png" alt="">
      <h4>Shtuchka91@gmail.com</h4>
    </div>
    <div class="contacts">
      <img src="assets/img/skype.png" alt="">
      <h4>ShtuchkaLena</h4>
    </div>
  </div>
  <div class="col-md-3">
    <div class="contacts">
      <img src="assets/img/phone.png" alt="">
      <h4>+ 38 063 32 70 228 (viber)</h4>
    </div>
    <div class="contacts">
      <img src="assets/img/phone.png" alt="">
      <h4>+ 38 095 70 82 744</h4>
    </div>
  </div>
</div>
